figure{
    text-align: center;
}

div#corps{
    font-family: sans-serif;
    text-align: justify;
    background-color: #fff;
    max-width: 1280px;
    margin: auto;
}
/*Menu*/
div#menu {
    
    font-size: 20px;
    font-weight: bold;
    background-color: #F6F7F7;
    margin-bottom: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
}

#menu-demo2 li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}

#menu-demo2 ul li{
display:inherit;
border-radius:0;
}

#menu-demo2 ul li:hover{
border-radius:0;
}

#menu-demo2 ul li:last-child{
border-radius:0 0 8px 8px;
}

#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

#menu-demo2 li:hover ul{
max-height:15em;
}

/* background des liens sous menus */

#menu-demo2 li:nth-child(2) li{

background: #fff;
}

#menu-demo2 li:last-child li{
    background: #fff;
}

/* background des liens menus et sous menus au survol */

#menu-demo2 li:hover {
background: #b7b7b7;
}

#menu-demo2 li:nth-child(2) li:hover{
background: #b7b7b7;
}

#menu-demo2 li:last-child li:hover{
background: #b7b7b7;
}
/* les a href */

#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 50px;
color:#000;
font-family:arial;
}

#menu-demo2 ul a{
padding:8px 0;
color:#000;
}

#menu-demo2 li:hover li a{
color:#000;
text-transform:inherit;
}

#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:#000;
}

.fond_gris{
    background-color: #b7b7b7;
    border-radius:8px 8px 0 0;
}

/*****Image********/

img{
    width: 500px;
    height: auto;
}

/******************/

/*****Footer*******/

footer{
    width: 1000px;
    text-align: center;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 100px;
    border-top: 2px solid #e8e8e8;
}

footer #Twit {
    content: url('../media/twitter.png');
}

footer #Face {
    content: url('../media/facebook.png');
}

footer #Insta {
    content: url('../media/instag.png');
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

footer a:visited {
    color: #000;
}

footer a:hover {
    color: #b8e0ea;
}

h1 {
    text-align: center;
    width: 1000px;
    border-top: 2px solid #e8e8e8;
    font-weight: normal;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}

#resu {
    text-align: center;
    margin-top: 20px;
    
}

table{
    border-spacing: 60px;
    margin: auto;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: #F6F7F7;
    /*font-weight: bold;*/
    text-align: initial;
    font-family: 'Asap', sans-serif;
    width: 700px;
    font-size: 27px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    text-align: justify-all;
}

tr:nth-child(even) td:nth-child(odd){
    background-color: #F6F7F7;
    /*font-weight: bold;*/
    text-align: initial;
    font-family: 'Asap', sans-serif;
    width: 700px;
    font-size: 27px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    text-align: justify-all;
}

p.texte{
    
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 23px;
    
}

/**********bouton**************/

input.bouton{
    
    display: block;
    margin: auto;
}

.bouton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#F6F7F7;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.bouton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#F6F7F7;
}
.bouton:active {
	position:relative;
	top:1px;
}